.header{
    padding: 15px;

    width: 100%;
}

.darkHeader{
    background-color: #101525;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.101));
}

.lightHeader{
    background-color: white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.14));
}

.headerContainer{
    max-width: 900px;

    margin: 0 auto;
}

.imgLogo{
    width: 200px;
}

.iconTheme{
    font-size: 1.5em;

    border-radius: 10px;

    padding: 5px;
}

.ilight{
    color: white;
    background-color: #1582B4;
}

.idark{
    color: #1582B4;
    background-color: white;
}

.iconTheme:hover{
    cursor: pointer;

    opacity: .6;
}