.cards{
    width: 290px;
    height: 150px;

    border-radius: 10px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.375);

    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.infoNum{
    font-size: 2.5em;
    font-weight: bold;
}

.subTitleP{
    font-size: 1.5em;
    font-weight: 400;
}

.cardCaracteres{
    background-color: #68a4ff7d;
}

.cardPalavras{
    background-color: #f7871e79;
}

.cardSentencas{
    background-color: #abefe489;
}